<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head"); %>
  </head>
  <body>
    <%- include("partials/navbar"); %>
    <form action="">
      <label for="href">Href</label>
      <input type="text" id="href" />
      <label for="content">Content</label>
      <input type="text" id="content" />
      <input type="submit" />
    </form>
  </body>
</html>
