<!DOCTYPE html>
<html>
  <%- include("partials/head"); %>
  <body>
    <%- include("partials/navbar"); %>
    <div class="container mt-4">
      <div class="row">
        <h1>Halaman <%= title %></h1>
      </div>
    </div>
  </body>
</html>
